# **Data Structures**


*   List / Array
*   Dictionary

Create / Insert / Add  
Read / Select / Display  
Update / Edit  
Delete / Remove

## **List / Array**

In [ ]:
str1 = 'Tom' # immutable
list1 = ['T', 'o', 'm'] # mutable
print(len(str1))
print(len(list1))

3
3

In [ ]:
list1[0] = 'M'
list1

['M', 'o', 'm']

In [ ]:
print(str1[0])
print(list1[0])
print(str1[-1])
print(list1[-1])

T
M
m
m

In [ ]:
for char in list1:
  print(char)

M
o
m

In [ ]:
list1 = [] # create empty array / list
list1
len(list1) # find length
list1.append('B') # add to the back of array / list
list1
list1.append('a')
list1
list1.append(3.14)
list1

['B', 'a', 3.14]

In [ ]:
list1.insert(1, 'Yo') # add to any position in an array
list1

['B', 'Yo', 'a', 3.14]

In [ ]:
# Update
list1[2] = 35
list1

['B', 'Yo', 35, 3.14]

In [ ]:
# Delete using remove
list1.remove(3.14)
list1

['B', 'Yo', 35]

In [ ]:
# Delete using del
del list1[0]
list1

['Yo', 35]

In [ ]:
# Read
for item in list1:
  print(item, end=' ')

Yo 35

In [ ]:
# Program to CRUD list / array

def menu():
  print("(1) Insert item")
  print("(2) Update item")
  print("(3) Delete item")
  print("(4) Show all items")
  print("(0) Quit")

def insert_item(score):
  print("Inserting item...")
  marks.append(score)

def update_item(old_mark):
  print("Updating item...")
  for i in range(len(marks)):
    if marks[i] == old_mark:
      new_mark = int(input("Enter new mark: "))
      marks[i] = new_mark

def delete_item(score):
  print("Deleting item...")
  if score in marks:
    marks.remove(score)
  else:
    print("Cannot delete non-existent item")

def show_items():
  print("All items: ", end='')
  if marks != []: # if len(marks) > 0:
    for mark in marks:
      print(mark, end=' ')
    print()
  else: # empty list
    print("No marks!")

# main
# initialise variables
choice = ''
marks = [] # create empty list (global variable)
#marks = [88, 100, 75] # for testing
while choice != '0': # while not quit
  menu()
  choice = input("Enter choice: ")
  if choice == '1': # insert item
    mark = int(input("Enter mark to insert: "))
    insert_item(mark)
  elif choice == '2': # update item
    mark = int(input("Enter mark to update: "))
    update_item(mark)
  elif choice == '3': # delete item
    mark = int(input("Enter mark to delete: "))
    delete_item(mark)
  elif choice == '4': # show all items
    show_items()
  elif choice == '0':
    print("Bye")
  else: # invalid choice
    print("Yo! Choose a valid option between 0 to 5.")

(1) Insert item
(2) Update item
(3) Delete item
(4) Show all items
(0) Quit
Enter choice: 4
All items: No marks!
(1) Insert item
(2) Update item
(3) Delete item
(4) Show all items
(0) Quit
Enter choice: 0
Bye

In [ ]:
# IMDA-Samsung Solve for Tomorrow Groupings
import random

studentf = ["ROSE EVANGELINE ANNE DAGMAN DESTOR", "TAN SHIAN PEI", \
            "LIU HONGSHUO", "NG JIA XIANG", "YEO WERN YEN EDA", \
            "JESSICA CHAN JI JI"]

studentm = ["CHEN QIRUI", "CHIA QI EN DON", "HON WEN HONG", "HUANG QIU DI", \
            "ISAAC CHEN JING DE", "KHNG CHEN SHUO", "KINGOLD WANG XINFENG", \
            "KOH TAT YAO", "LEO QIYI JOEL", "LIEW ZHENG YUAN", "LIN JUNYU", \
            "QIANG JIAYUAN", "SEE YONG QIAN", "TEH WU RUI", \
            "TOBIAS TAN JIA REN", "TOH ZONG HAN KIERAN", \
            "TREVOR ONG YEE SIANG", "WANG YAOHUI"]

random.shuffle(studentf)
random.shuffle(studentm)
#print(studentf)
#print(studentm)

count = 0
for i in range(6):
  print(studentf[i], studentm[count], studentm[count+1], studentm[count+2])
  count += 3

ROSE EVANGELINE ANNE DAGMAN DESTOR TEH WU RUI KOH TAT YAO WANG YAOHUI
JESSICA CHAN JI JI CHEN QIRUI CHIA QI EN DON TOH ZONG HAN KIERAN
LIU HONGSHUO TOBIAS TAN JIA REN LIEW ZHENG YUAN TREVOR ONG YEE SIANG
YEO WERN YEN EDA LIN JUNYU KHNG CHEN SHUO HUANG QIU DI
TAN SHIAN PEI HON WEN HONG SEE YONG QIAN LEO QIYI JOEL
NG JIA XIANG ISAAC CHEN JING DE QIANG JIAYUAN KINGOLD WANG XINFENG

## **Dictionary**


*   unordered key-value pair
*   key must be unique

In [ ]:
# Create empty dictionary
d = {}
d

{}

In [ ]:
# Insert
d['Tom'] = 88
d

{'Tom': 88}

In [ ]:
d['Mary'] = 100
d

{'Mary': 100, 'Tom': 88}

In [ ]:
d['Tom'] = 35 # update if key exists
d

{'Mary': 100, 'Tom': 35}

In [ ]:
# Delete
del d['Tom']
d

{'Mary': 100}

In [ ]:
# Show
d = {'Mary': 100, 'Tom': 35}
d.keys() # show keys
d.values() # show values
for key, value in d.items():
  print(key, value)

Mary 100
Tom 35

In [ ]:
# CRUD program for dictionary
def menu():
  print("(1) Insert")
  print("(2) Delete")
  print("(3) Update")
  print("(4) Show")
  print("(0) Quit")

def insert(key, value):
  if key in contacts.keys():
    print("Contact already exists!")
  else:
    contacts[key] = value

def delete(key):
  if key in contacts.keys():
    del contacts[key]
  else:
    print("Contact not found!")

def update(key, new_value):
  if key in contacts.keys():
    contacts[key] = new_value
  else:
    print("Contact not found!")

def show():
  if contacts == {}:
    print("You have no contacts!")
  else:
    for key, value in contacts.items():
      print(key, value)


# main
contacts = {}
option = ''
while option != '0': # while not quit
  menu()
  option = input("Enter option: ")
  if option == '1':
    name = input("Enter name: ")
    mobile = input("Enter mobile: ")
    insert(name, mobile)
  elif option == '2':
    name = input("Enter name: ")
    delete(name)
  elif option == '3':
    name = input("Enter name: ")
    new_mobile = input("Enter new mobile: ")    
    update(name, new_mobile)
  elif option == '4':
    show()
  elif option == '0':
    print("Bye")
  else:
    print("Invalid option!")
print("Done")

(1) Insert
(2) Delete
(3) Update
(4) Show
(0) Quit
Enter option: 1
Enter name: Tom
Enter mobile: 12345678
(1) Insert
(2) Delete
(3) Update
(4) Show
(0) Quit
Enter option: 4
Tom 12345678
(1) Insert
(2) Delete
(3) Update
(4) Show
(0) Quit
Enter option: 1
Enter name: Tom
Enter mobile: 12345678
Contact already exists!
(1) Insert
(2) Delete
(3) Update
(4) Show
(0) Quit
Enter option: 3
Enter name: Mary
Enter new mobile: 87654321
Contact not found!
(1) Insert
(2) Delete
(3) Update
(4) Show
(0) Quit
Enter option: 2
Enter name: Mary
Contact not found!
(1) Insert
(2) Delete
(3) Update
(4) Show
(0) Quit
Enter option: 2
Enter name: Tom
(1) Insert
(2) Delete
(3) Update
(4) Show
(0) Quit
Enter option: 4
You have no contacts!
(1) Insert
(2) Delete
(3) Update
(4) Show
(0) Quit
Enter option: 0
Bye
Done

* arrays to dict

In [56]:
titles = ["Name", "class", "action","Remarks"]
dictList = ["QRCode","5C35","Trying to do Hacktoberfest 2020","Accept PR pls"]
result = dict(zip(titles, dictList))
print(result)

{'Name': 'QRCode', 'class': '5C35', 'action': 'Trying to do Hacktoberfest 2020', 'Remarks': 'Accept PR pls'}

* Combining 2d array into dict

In [57]:
titles = ["Name", "class", "action","Remarks"]
dictList2d = [["QRCode","5C35","Trying to do Hacktoberfest 2020","Accept PR pls"],
            ["Chicken Man","5C50","Trying to fly","Null"], ["spiderman","6C99","Trying to pass","Entangled"]]
result2d = []

for i in range(len(dictList2d)):
    result2d.append(dict(zip(titles, dictList2d[i]))) #zip takes the 2 iterators to make lists

resultdict = {}
resultdict['students'] = result2d

print(resultdict)

{'students': [{'Name': 'QRCode', 'class': '5C35', 'action': 'Trying to do Hacktoberfest 2020', 'Remarks': 'Accept PR pls'}, {'Name': 'Chicken Man', 'class': '5C50', 'action': 'Trying to fly', 'Remarks': 'Null'}, {'Name': 'spiderman', 'class': '6C99', 'action': 'Trying to pass', 'Remarks': 'Entangled'}]}

## **Tuple**

* Behaves like a list but is immutable

In [ ]:
list1 = [1, 2, 3]
tuple1 = (1, 2, 3)

for i in range(3):
  print(list1[i], tuple1[i])

1 1
2 2
3 3

In [ ]:
list1[0] = 35
list1

[35, 2, 3]

In [ ]:
tuple1[0] = 35 # error because tuple cannot be changed
tuple1

TypeError: ignored

In [ ]:
type(tuple1)

tuple

In [ ]:
tuple2 = (35,)
type(tuple2)

tuple