In [ ]:
import sqlite3

# create connection to database
connection = sqlite3.connect("school.db")

# create cursor to access records
cursor = connection.cursor()

# execute SQL statement
#cursor.execute("CREATE TABLE IF NOT EXISTS Student (StudentID INTEGER, StudentName TEXT NOT NULL, DOB TEXT, PRIMARY KEY (StudentID));")
#cursor.execute("INSERT INTO Student (StudentID, StudentName, DOB) VALUES (2, 'Tom', '2003-01-31');")
#cursor.execute("UPDATE Student SET StudentName = 'Mary' WHERE StudentID = 2;")
#cursor.execute("SELECT * FROM Student;") # return all records
cursor.execute("SELECT COUNT(*) FROM Student;") # number of records
#records = cursor.fetchall()
#for record in records:
  #print(record)
length = cursor.fetchone()
print(length[0])

# make changes permanent
connection.commit()

# close connection (and cursor)
connection.close()

2

Task: Try a DELETE SQL statement

In [ ]:
cursor.execute("DELETE FROM Student WHERE StudentID = 2;")

Task: Implement a more robust INSERT SQL statement

In [ ]:
cursor.execute("INSERT INTO Student (StudentID, StudentName, DOB) VALUES (?, ?, ?);", \
               (2, 'Tom', '2003-01-31'))